@import "tailwindcss";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

:root {
  --mobile-breakpoint: 1439px;
  --tablet-breakpoint: 1023px;
  --menu-breakpoint: 1493px;
}

html > body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 모바일 미디어 쿼리 공통 스타일 */
@media (width < var(--mobile-breakpoint)) {
  .mobile-style {
    max-width: 100%;
    min-width: auto;
  }
}

.top-bar__inner {
  @media (width < var(--mobile-breakpoint)) {
    max-width: 100%;
    min-width: auto;
    padding-inline: 80px;
  }

  .top-bar__menu {
    @media (width < var(--mobile-breakpoint)) {
      display: none;
    }
  }
}

.depth2-inner-item {
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
  }
}

.mobile-menu-button {
  display: none;

  @media (width < var(--menu-breakpoint)) {
    display: block;
  }
}

.consult-button {
  @media (width < var(--tablet-breakpoint)) {
    display: none;
  }
}

.search-modal-content {
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.59, 0.01, 0.28, 1);

  &.active {
    transform: translateY(0);
  }

  /* 모바일 스타일 그룹화 */
  @media (width < var(--mobile-breakpoint)) {
    .search-modal-inner {
      max-width: 100%;
      min-width: auto;
      padding-inline: 20px;
    }

    .mo-consult-button {
      display: none;
    }

    .search-modal-body {
      width: 100%;
      padding: 16px 0 40px;
    }

    .search-icon {
      width: 30px;
      height: 30px;
    }

    input {
      font-size: 24px;
      height: 36px;
    }

    .recommend-box {
      .tag-link-text {
        font-size: 12px;
      }
    }
  }
}
